[user]
	name = Geoff Catlin
	email = gcatlin@gmail.com
[alias]
	co = checkout
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[core]
	autocrlf = input
	excludesfile = /Users/gcatlin/.gitignore
	pager = less
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[github]
	user = gcatlin
	token = c49f467170498ecf398ef977cf9b0951
